.about-social {
  padding-bottom: 70px;
  padding-top: 70px;
  &__title {
    margin-bottom: 84px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: calc(49 / 40);

    text-align: center;
    text-transform: uppercase;

    color: #4d4d4d;
  }
  &__list {
    margin-bottom: 76px;
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
  }
  &__item {
    max-width: 278px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    &:hover .about-social__wrapper,
    &:focus .about-social__wrapper {
      padding: 25px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-color: rgba(197, 127, 153, 0.5);
    }
  }

  // &__img {
  //   border-radius: 10px;
  // }

  // &__link {
  //   position: relative;
  //   overflow: hidden;
  // }
  &__wrapper {
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 50%);
    background-color: rgba(197, 127, 153, 0.5);
    transition: transform 250ms linear;
  }
  &__up-text {
    display: inline-block;
    margin-bottom: 5px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: calc(54 / 40);
    text-align: center;
    color: var(--primary-light-color);
  }
  &__svg {
    stroke: var(--primary-light-color);
  }
  &__down-text {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: calc(54 / 40);
    text-align: center;
    color: var(--primary-light-color);
  }
  &__btn {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}
