.catloog {
  padding-top: 254px;
  padding-bottom: 200px;

  &__general-wrapper {
    display: flex;
    // align-items: center;
  }
  &__wrapper {
    padding-top: 20px;
  }
  &__general-title {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: calc(49 / 40);

    // text-transform: uppercase;

    color: rgba(72, 72, 72, 0.8);
    opacity: 0.8;
  }
  &__category-list {
    margin-bottom: 114px;
    padding-left: 20px;
  }
  &__category-item {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  .catloog {
    // &__category-label {
    // }
    // &__category-checkbox {
    // }
    &__category-label input:checked + .catloog__category-text {
      font-weight: 800;
      color: rgba(72, 72, 72, 0.8);
      opacity: 1;
    }
    &__category-text {
      cursor: pointer;
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: calc(17 / 14);
      text-transform: uppercase;
      color: rgba(72, 72, 72, 0.8);
      opacity: 0.8;
    }
  }

  &__price-form {
    margin-bottom: 56px;
  }
  &__price-title {
    margin-bottom: 26px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(17 / 14);

    color: rgba(72, 72, 72, 0.8);

    opacity: 0.8;
  }
  &__price-wrapper {
    padding-left: 20px;
    display: flex;
    align-items: center;
  }
  &__price-text {
    margin-right: 10px;

    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(17 / 14);

    color: rgba(72, 72, 72, 0.8);

    opacity: 0.8;
  }
  &__input-plus {
    margin-right: 10px;
    max-width: 55px;
    height: 40px;
    padding: 15px;
    background: var(--background-btn-color);
    border-radius: 8px;
    border: none;

    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(17 / 14);
    text-transform: uppercase;
    color: rgba(72, 72, 72, 0.8);
    opacity: 0.8;
  }
  &__input-minus {
    max-width: 55px;
    height: 40px;
    padding: 15px;
    background: var(--background-btn-color);
    border-radius: 8px;
    border: none;

    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(17 / 14);
    text-transform: uppercase;
    color: rgba(72, 72, 72, 0.8);
    opacity: 0.8;
  }
  &__sizes-title {
    margin-bottom: 26px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(17 / 14);

    color: rgba(72, 72, 72, 0.8);

    opacity: 0.8;
  }
  &__sizes-list {
    padding-left: 20px;
  }
  &__sizes-item {
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }
  &__sizes-label input:checked + .catloog__sizes-square {
    background-image: url(../img/checked.svg);

    background-size: 67%;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: border-box;
  }

  &__sizes-label {
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  // &__sizes-checkbox {
  // }
  &__sizes-square {
    margin-right: 22px;
    display: block;
    width: 29px;
    height: 29px;

    background: var(--background-btn-color);
    border-radius: 8px;
  }
  &__sizes-text {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(17 / 14);

    text-transform: uppercase;

    color: rgba(72, 72, 72, 0.8);

    opacity: 0.8;
  }
}

// .catalog {
//   &__nav-panel {}
// }
.window {
  margin-left: auto;
  width: 69%;

  display: flex;
  flex-direction: column;
  &__option {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
  }
  &__option-span--first-child {
    position: relative;
    margin-right: 20px;
    margin-left: auto;
  }
  &__search {
    padding-left: 35px;
    padding-right: 15px;
    padding-top: 12px;
    padding-bottom: 16px;
    background: var(--background-btn-color);
    border-radius: 10px;
    border: none;

    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(17 / 14);
    text-transform: uppercase;
    color: rgba(72, 72, 72, 0.8);
    opacity: 0.8;
    &::placeholder {
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: calc(17 / 14);

      display: flex;
      align-items: center;

      color: rgba(72, 72, 72, 0.8);

      opacity: 0.8;
    }
  }
  &__search-icon {
    position: absolute;
    top: 17px;
    right: 17px;
  }
  &__option-span {
    position: relative;
  }
  &__toggl-label {
    cursor: pointer;
    &:hover .window__toggl-btn {
      color: var(--primary-light-color);
      background-color: var(--primary-accent-color);
    }
  }
  &__toggl-btn {
    padding-left: 35px;
    padding-right: 47px;
    padding-top: 15px;
    padding-bottom: 15px;
    background: var(--background-btn-color);
    border-radius: 10px;
    border: none;

    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: calc(17 / 14);

    display: flex;
    align-items: center;

    color: rgba(72, 72, 72, 0.8);
    transition: color 250ms linear, background-color 250ms linear;
    opacity: 0.8;
  }
  &__toggl-icon {
    transform: rotate(298deg);
    position: absolute;
    top: 18px;
    right: 17px;
  }
  &__btn {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 13px 26px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(15 / 12);
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--primary-light-color);
  }
}

.cards_item.aos-init.aos-animate:hover {
  transform: scale(1.1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.cards {
  &_list {
    padding-top: 10px;
    margin-bottom: 45px;
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
  }
  &_item {
    cursor: pointer;
    padding-bottom: 5px;
    max-width: 180px;

    transition: transform 250ms linear, box-shadow 250ms linear;
    &:hover {
      transform: scale(1.1);
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;
    }
  }
  &_img {
    margin-bottom: 10px;
    height: 220px;
  }
  &_title {
    margin-bottom: 3px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: calc(24 / 20);

    text-align: center;

    color: var(--main-title-color);
  }
  &_price {
    margin-bottom: 5px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: calc(24 / 20);

    text-align: center;

    color: var(--main-title-color);
  }
  &_btn {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
    display: block;
    padding: 13px 26px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: calc(15 / 12);
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--primary-light-color);
  }
  &_size {
    display: block;
    margin-bottom: 5px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 11px;
    line-height: calc(24 / 20);

    text-align: center;

    color: var(--main-title-color);
  }
}

.--current-page {
  color: var(--primary-accent-color);
}
