.hero {
  background-image: linear-gradient(
      to right,
      rgba(58, 81, 205, 0.1),
      rgba(58, 81, 205, 0.1)
    ),
    url(../img/hero.jpg);

  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  min-height: 922px;
  padding-top: 342px;
  &__logo {
    margin: 0 auto;
    margin-bottom: 185px;
  }
  &__text {
    margin-bottom: 100px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 139.2%;
    text-align: center;
    color: #ffffff;
  }
  &__bottom-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__btn {
    padding: 7px 12px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: calc(22 / 18);
    letter-spacing: 0.025em;
    // display: flex;
    // align-items: center;

    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    transition: color 250ms linear, border 250ms linear;
    &:hover {
      color: #b95f76;
      border: 1px solid #b95f76;
    }
  }
  &__dots {
    position: relative;
    background-color: #b95f76;
    border-radius: 5px;
    font-size: 0;
    margin-left: 20px;
    padding: 5px;
    cursor: pointer;
    &:before {
      position: absolute;
      left: -10px;
      content: "";
      top: 0;
      background-color: #ffffff;
      border-radius: 5px;
      font-size: 0;
      margin-left: 35px;

      padding: 5px;
    }
    &:after {
      position: absolute;
      left: 10px; //using left instead of right
      content: "";
      background-color: #ffffff;
      border-radius: 5px;
      font-size: 0;
      margin-left: 35px;
      top: 0;

      padding: 5px;
    }
  }
}
