.main-novelties {
  padding-top: 100px;
  padding-bottom: 100px;
  &__title {
    padding-bottom: 114px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: calc(49 / 40);
    text-align: center;
    text-transform: uppercase;

    color: var(--main-title-color);
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  &__item {
    transition: filter 150ms linear;
    &:nth-child(3n + 1) .main-novelties__text {
      color: var(--primary-light-color);
    }
    &:hover,
    &:focus {
      filter: drop-shadow(0px 0px 4px var(--secondary-accent-color));
    }
  }
  &__link {
    position: relative;
  }
  &__img {
    border-radius: 10px;
  }
  &__text {
    padding-bottom: 26px;
    padding-left: 25px;
    position: absolute;
    bottom: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: calc(24 / 20);

    text-transform: uppercase;

    color: var(--secondary-title-color);
  }
}
