.product-card {
  padding-top: 240px;
  padding-bottom: 120px;
  &__article {
    display: flex;
    align-items: center;
  }

  &__main-img-wrapper {
    max-width: 50%;
  }
  // &__main-img-link {}
  &__main-img {
    margin-bottom: 20px;
    border-radius: 10px;
    height: 470px;
  }

  &__list {
    margin-right: 115px;

    display: flex;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  // &__link {}
  // &__img {
  //   border-radius: 10px;
  //   width: 103px;
  //   height: 103px;
  // }
  // &__wrapper {}
  &__title {
    margin-bottom: 25px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: calc(37 / 30);

    color: #4d4d4d;
  }
  &__price {
    margin-left: 10px;
    margin-bottom: 20px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: calc(37 / 30);

    color: var(--price-color);
  }
  &__dscr {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: calc(28 / 18);

    color: #4d4d4d;
  }
  &__dscr-text {
    margin-bottom: 28px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: calc(28 / 18);

    color: #4d4d4d;
  }
  &__compound {
    margin-bottom: 8px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: calc(22 / 18);

    color: #4d4d4d;
  }
  &__compound-text {
    width: 240px;
    margin-bottom: 25px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: calc(22 / 18);

    color: #4d4d4d;
  }

  &__size-form {
    margin-bottom: 25px;
  }
  &__sizes-title {
    margin-bottom: 8px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: calc(22 / 18);

    color: #4d4d4d;
  }
  &__sizes-list {
    display: flex;
  }
  &__sizes-item {
    &:not(:last-child) {
      margin-right: 8px;
    }
  }
  &__sizes-label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  // &__sizes-label input:checked + .product-card__sizes-square {
  //   background-image: url(../img/checked.svg);

  //   background-size: 67%;
  //   background-position: center;
  //   background-repeat: no-repeat;
  //   background-origin: border-box;
  // }
  // &__sizes-checkbox {}
  .product-card__sizes-square.active {
    background-image: url(../img/checked.svg);

    background-size: 67%;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: border-box;
    transform: scale(1.1);
    outline: 2px var(--primary-accent-color) solid;
  }
  // .active {
  //   background-image: url(../img/checked.svg);

  //   background-size: 67%;
  //   background-position: center;
  //   background-repeat: no-repeat;
  //   background-origin: border-box;
  //   transform: scale(1.1);
  // }
  &__sizes-square {
    margin-right: 5px;
    display: block;
    width: 29px;
    height: 29px;

    background: var(--background-btn-color);
    border-radius: 8px;
    transition: transform 250ms linear;
  }
  &__sizes-text {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(17 / 14);

    text-transform: uppercase;

    color: rgba(72, 72, 72, 0.8);

    opacity: 0.8;
  }
  &__color-form {
    margin-bottom: 26px;
  }
  &__color-title {
    margin-bottom: 16px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: calc(22 / 18);

    color: #4d4d4d;
  }
  &__color-list {
    display: flex;
  }
  &__color-item {
    &:not(:last-child) {
      margin-right: 8px;
    }
  }
  &__color-label {
    cursor: pointer;
  }
  // &__color-checkbox {}
  // &__color-label input:checked + .product-card__color-selector {
  //   background-image: url(../img/checked.svg);

  //   background-size: 67%;
  //   background-position: center;
  //   background-repeat: no-repeat;
  //   background-origin: border-box;
  // }
  .product-card__color-selector.active {
    // background-image: url(../img/checked.svg);

    // background-size: 67%;
    // background-position: center;
    // background-repeat: no-repeat;
    // background-origin: border-box;
    transform: scale(1.1);
    outline: 2px var(--primary-accent-color) solid;
  }

  &__color-selector {
    display: block;
    width: 29px;
    height: 29px;

    background: var(--background-btn-color);
    border-radius: 8px;
    transition: transform 250ms linear, outline 250ms linear;
  }
  &__btn {
    padding: 20px 40px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(20 / 16);
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #ffffff;
  }
}
.--white {
  background-color: #f9f8f8;
}
.--pink {
  background-color: #ffe1e3;
}

.--yellow {
  background-color: #fbd05d;
}
.--nude {
  background-color: #cc9e72;
}
.--grey {
  background-color: #959fa7;
}
.--black {
  background-color: #2f2233;
}
.--milky {
  background-color: #f7e4e4;
}
.--tiffany {
  background-color: #b5fdfc;
}
.product-card__list .slick-track {
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-card__list .slick-prev:before {
  color: rgba(72, 72, 72, 0.3);
  font-size: 30px;
}
.product-card__list .slick-next:before {
  color: rgba(72, 72, 72, 0.3);
  font-size: 30px;
}
.product-card__list .slick-prev.slick-arrow {
  left: -7%;
}
.sl-image {
  cursor: pointer;
}
