@mixin hoverBtn($color: #b95f76, $bgc: #ffffff) {
  &:hover {
    color: #{$color};
    background-color: #{$bgc};
    fill: #b95f76;
  }
}
@mixin focusBtn($color: #b95f76, $bgc: #ffffff) {
  &:focus {
    color: #{$color};
    background-color: #{$bgc};
    fill: #b95f76;
  }
}
@mixin hoverForm($fill: #b95f76, $outline: #b95f76) {
  &:hover {
    fill: #{$fill};
    outline: 1px solid #{$outline};
  }
}
@mixin focusForm($fill: #b95f76, $outline: #b95f76) {
  &:focus {
    fill: #{$fill};
    outline: 1px solid #{$outline};
  }
}
@mixin hovershadow($plug: none) {
  &:hover {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    min-width: #{$plug};
  }
}
@mixin focusshadow($plug: none) {
  &:focus {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    min-width: #{$plug};
  }
}
